<div class="forgot-page">
  <div class="forgot-card">
    <div class="logo-section">
      <div class="logo-icon">
        <i class="bi bi-graph-up-arrow"></i>
      </div>
    </div>

   <div *ngIf="step === 1">
  <div class="header">
    <h2>Forgot Password?</h2>
    <p> Enter your username and we'll help you reset your password. </p>
  </div>

      <form (ngSubmit)="findUser()">
        <div class="form-group">
          <label>Username</label>
          <div class="input-wrapper">
            <i class="bi bi-person"></i>
            <input type="text" name="username" [(ngModel)]="username" placeholder="Enter your username" >
          </div>
        </div>

        <div class="error-message" *ngIf="errorMessage" >
          <i class="bi bi-exclamation-circle"></i>
          {{ errorMessage }}
        </div>

        <button type="submit" class="primary-btn">
          Continue
          <i class="bi bi-arrow-right"></i>
        </button>
      </form>
    </div>

    <div *ngIf="step === 2">
      <div class="header">
        <h2>Reset Password</h2>
        <p> Create a new password for your account.</p>
      </div>

      <form (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label>New Password</label>
          <div class="input-wrapper">
            <i class="bi bi-lock"></i>
            <input type="password" name="newPassword" [(ngModel)]="newPassword" placeholder="Enter new password">
          </div>
        </div>

        <div class="form-group">
          <label>Confirm Password</label>
          <div class="input-wrapper">
            <i class="bi bi-lock-fill"></i>
            <input type="password"  name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm new password" >
          </div>
        </div>

        <div class="error-message" *ngIf="errorMessage" >
          <i class="bi bi-exclamation-circle"></i>
          {{ errorMessage }}
        </div>

        <div class="success-message" *ngIf="successMessage">
          <i class="bi bi-check-circle"></i>
          {{ successMessage }}
        </div>

        <button type="submit" class="primary-btn">
          Reset Password
          <i class="bi bi-check-lg"></i>
        </button>
      </form>
    </div>

    <button class="back-login" type="button" (click)="backToLogin()">
      <i class="bi bi-arrow-left"></i>
      Back to Login
    </button>
  </div>
</div>